.profile-heading {
  color: var(--third-color);
  margin: 1vh 0;
}

.profile-form label {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form [type="text"] {
  width: 95%;
  margin-left: 10px;
}

.profile-render {
  width: 95%;
  margin-left: 10px;
}

.profile-container {
  width: 100%;
}

.user-video {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
}

@media (min-width: 576px) {
  .profile-form {
    margin: 5vh;
  }
}

@media (min-width: 768px) {
  .profile-form {
    margin: 0;
    max-width: 900px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .profile-container {
    margin-bottom: 1vh;
  }

  .user-video {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
