* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --first-color: #3d5af1;
  --second-color: #22d1ee;
  --third-color: #e2f3f5;
  --fourth-color: #364f6b;
  --fifth-color: #000000;
}

header {
  background: var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: var(--third-color);
  position: fixed;
  width: 100%;
  height: 30px;
}

.header-logo {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}
