* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --first-color: #3d5af1;
  --second-color: #22d1ee;
  --third-color: #e2f3f5;
  --fourth-color: #364f6b;
  --fifth-color: #000000;
}
