* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --first-color: #3d5af1;
  --second-color: #22d1ee;
  --third-color: #e2f3f5;
  --fourth-color: #364f6b;
  --fifth-color: #000000;
}

.main-container {
  padding-top: 30px;
  height: 100vh;
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-container {
  background: var(--third-color);
  display: block;
  min-height: 15vh;
  padding: 1px;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container-row {
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  background: var(--first-color);
  color: var(--third-color);
  width: 100vw;
  max-width: 200px;
  height: 40px;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: var(--second-color);
}

.btn-second {
  background: var(--third-color);
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.btn-second:hover {
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

@media (min-width: 768px) {
  .second-container {
    margin: 0;
    max-width: 900px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

/*
Style to the home and the close page
*/
.greeting {
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--fourth-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1vh;
}

.greeting-heading {
  font-size: 1.5rem;
  color: var(--third-color);
  margin-bottom: 2vh;
}

.greeting-paragraph {
  color: var(--third-color);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.greeting-btn {
  background: var(--third-color);
  width: 100vw;
  max-width: 200px;
  height: 40px;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.greeting-btn:hover {
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

@media (min-width: 576px) {
  .home {
    background-image: url("./assets/img-bg-2.jpeg");
  }

  .close {
    background-image: url("./assets/img-bg-3.jpg");
  }

  .greeting-heading {
    font-size: 1.6rem;
    margin-bottom: 2vh;
  }

  .greeting-paragraph {
    font-size: 1.2rem;
    margin-bottom: 2vh;
  }

  .greeting-btn {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .greeting-heading {
    font-size: 1.8rem;
  }

  .greeting-paragraph {
    font-size: 1.5rem;
  }

  .greeting-btn {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .greeting-heading {
    font-size: 2rem;
  }

  .greeting-btn {
    font-size: 1.7rem;
  }
}
